:root {
   --roboto: "Roboto", sans-serif;
   --source: "Source Sans 3", sans-serif;
   --cinza: #262626;
}


body {
  margin: 0;
  font-family: var(--roboto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
